* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
.container3 {
    width: 100%;
    height: 100vh;
}

.background {
    width: 100%;
    height: 25%;
    background: #FFFFFF url("C:/Users/User/Desktop/projeto/src/assets/background_instaClonePage2.jpg") repeat right top fixed;
    border-bottom:5px solid #FE690E;
}
.PerfilImg #ImagemDePerfil {
    width: 15%;
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
    border: 3px solid #FE690E;
    border-radius: 50%;
} 

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
}
nav img{
    width: 15%;
    object-fit:contain;
}
.iconGroup {
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.iconGroup #ImagemDePerfilIcone {
    width: 100%;
    border-radius: 50%;
}

.circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    border-radius: 70px;
    background: #FFFFFF;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.circle1:hover {
    transform: scale(1.3);
    background-color: #fdf2e5;
    border-color: #FE690E;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.Biografia {
    height: 23%;
    font-size: 1.5rem;
    border-bottom: 5px solid #FE690E;
    margin-left: 15%;
    margin-right: 15%;
}
.Biografia2 {
    margin-left: 15%;
}
.Biografia2 .bio {
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 2%;
}
.ImgPlace {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.fotos {
    width: 24%;
}
.botaoEdit {
    position: absolute;
    margin-top: 12%;
    margin-left: 16%;
    border: none;
}
.botaoEdit2 {
    margin-top: 7%;
    margin-left: 95%;
    border: none;
}

@media screen and (max-width: 767px) {
    .iconGroup {
        display: none;
    }
    .botaoEdit {
        position: relative;
        margin-top: 0%;
        margin-left: 65%;
    }
    .circle1 {

        width: 35px;
        height: 35px;
        margin-top: 0%;
        border-radius: 70px;
    }
    .botaoEdit2{
        display: none;
    }
    nav img{
        position: inherit;
        width: 50%;
        object-fit:contain;
    }
    .Nome86 {
        margin-right: 20%;
    }
    
    .background {
        width: 100%;
        height: 25%;
    }
    .PerfilImg #ImagemDePerfil {
        position: inherit;
        margin-top: 10%;
        width: 50%;
        margin-left: 25%;
    }

    .Biografia {
        font-size: 0.8rem;
        margin-top: 25%;
        text-align: center;
    }
    .Biografia2 {
        border-color: 2px solid black;
    }
        
    .ImgPlace {
        position: inherit;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .fotos {
        position: inherit;
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
    }
}